<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0lrabw0ju7RJeTxCHvimT5X_bZCl1Keo</string>
	<key>GCM_SENDER_ID</key>
	<string>622421696156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkingCarApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>parkingcarapp-ef7de</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingcarapp-ef7de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622421696156:ios:c747de8949b19e5d781759</string>
</dict>
</plist>